.input-wrapper {
  float: left;
}

.input-block {
  display: block;
  width: 250px;
  border-radius: 5px;
}

.input-desc {
  display: block;
  width: 75%;
  height: 200px;
  border-radius: 5px;
  overflow-y: auto;
}

button {
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color: #151545;
}

button:hover {
  background-color: #7575bb;
}